#nome{
    margin-top: 15px;
}
#unidade{
    margin-top: 35px;
}
    
#duracao{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
}
#nome input{
    margin-top: -70px;
}

#inicio{
    margin-top: 35px;
}


#area{
    margin-bottom: 30px;
    margin-left: 15px;
}

#nfuncionarios{
    margin-top: 35px;
}