body{
    background-color: rgb(232, 148, 38);
}

/* #header{
    position: absolute;
    margin-left: 40%;
} */

button{
    width: 112px;
}

#equals{
    padding-left: 117px;
}

#resultp{
    background-color: rgba(156, 89, 12, 0.779);
    border-radius: 10px;
    text-indent: 3%;
}

footer{
    position: absolute;
    margin-top: 28%;
    margin-left: 40%;
}
