#geral{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table{
    table-layout: fixed;
    width: 100%;
}

button{
    width: 7%;
}

html{
    background-color: rgb(127, 255, 153);
}

p{
    word-wrap: break-all;
}

input{
    width: 21%;
}

footer{
    position: absolute;
    margin-top: 80%;
}

footer:hover{
    color: red;
}